<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Webinar Preparation</title>
</head>
<body>
<h2>Time</h2>
{% if not current_user.is_anonymous %}
    <div>
        User: {{ current_user.username }} <a href="{{ url_for('logout') }}">Logout</a>
    </div>
{% endif %}
<p>
    {{ time }}
</p>
<h2>Users</h2>
<ul>
    {% for user in users %}
        <li>{{ user.username }} ({{ user.email }})</li>
    {% endfor %}
</ul>
<h2>Posts</h2>
<ul>
    {% for post in posts %}
        <li><a href="{{ url_for('post_page', id=post.id) }}">
            {{ post.title }} ({{ post.owner.username }})
        </a></li>
    {% endfor %}
</ul>
</body>
</html>